body {
  font: 18px arial, sans-serif;
	background-image: url(images/racing-background.jpg) ;
	
/*  background: #eee;*/
}

#cars {
  width: 70%;
	margin-top: 140px;
}

.car-item {
  float: left;
  padding: 10px;
}

form {
  float: right;
  width: 30%;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  color:;
}

input[type="text"] {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  font-size: 18px;
}

button,
input[type="submit"] {
  padding: 5px 20px;
  margin: 0 10px 10px 0;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #0000ff;
  border: 10;
  border-radius: 10px;
  box-shadow: 5px 5px 4px #bbb;
}

button:hover,
input[type="submit"]:hover {
  background: red;
}

button.active {
  background: #ff5050
;
}

#CarSearch {
	text-decoration-color: aqua;
}
